*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.reenie-beanie-regular {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
  }
body{
    background-color: blanchedalmond;
    background-image: radial-gradient(blanchedalmond, #EDD2BE,#BAA595  );
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    font-family: "Reenie Beanie", cursive;
    font-size: 60px;
    color: rgb(117, 157, 210);
    text-decoration: none;
}
div {
  font-weight: bold;
  position: relative;
  animation: mymove 5s;
  padding-right: 25px;
  animation-fill-mode: forwards;
  display: inline-block; 
  font-family: "Reenie Beanie", cursive;
  font-size: 60px;
  color: rgb(99, 123, 99);
}
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
  from {bottom: -700px;}
  to {bottom: 0;}
}

